nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

nav a {
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
    color: #FFCC99;
    padding: 5px 15px;
    transition: 0.25 ease-in;
    border-radius: 15px;
}

nav a:hover {
    color: #FF850A;
    border-bottom: 2px;
}



a:active, a:visited, a:link {
    color: #FFCC99;
}

nav .logo {
    color: #FFCC99;
    font-weight: bold;
    font-size: 1.25em;
}

.curriculum {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum h1 {
    color: #FFCC99;
    font-size: 2.5em;
}

.curriculum p {
    color: #8D6E63;
    font-size: 1.5em;
}

.underline {
    color: #FFCC99;
    text-decoration: none;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FFCC99;
    transition: width 0.3s ease;
    transform-origin: left;
}

.underline:hover::after {
    width: 100%;
}

.slider-container {
    position: relative;
    width: 60%;
    height: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.slider img {
    width: 100%;
    height: auto;
}

.controls {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
}

.controls button {
    font-size: 24px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50%;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #8D6E63;
    transform: translateY(-50%);
}

.timeline-item {
    position: relative;
    padding: 20px;
}

.timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline-content {
    background-color: #FFE6CC;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);
}

.timeline-ball-1 {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.timeline-ball-2 {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.icones {
    width: auto;
    height: 32px;
    margin: 0 5px;
}

.footer {
    justify-content: space-between;
}

.footer .icones {
    font-size: 2rem;
}

.area-icones {
    font-size: 2.5rem;
    max-width: 100%;
}

.bola-vermelha
{
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-color: red;
    filter: blur(100px);
    position: absolute;
    right: -50px;
    top: -50px;
    opacity: 0.5;
}

.bola-amarela
{
    width: 256px;
    height: 256px;
    border-radius: 50%;
    background-color: yellow;
    filter: blur(100px);
    position: absolute;
    left: -50px;
    bottom: -50px;
    opacity: 0.5;
}

@media only screen and (max-width: 500px) {
    header {
        height: 15%;
    }
    
    section > .container {
        padding: 1.5rem;
        height: 65%;
    }
    
    .container {
        max-width: 100%;
    }

    .bolas {
        background-image: none;
    }

    .slider-container {
        width: 100%;
        height: auto !important;
    }

    .footer {
        justify-content: space-around;
        padding: 0 1rem;
        margin-bottom: 0 1.5rem;
        text-align: center;
    }

    .footer h1 {
        font-size: 1.5rem;
    }

    .footer .icones {
        font-size: 1rem;
    }

    main .area .box {
        width: 100%;
    }

    .area {
        height: 100%;
        flex-direction: column;
    }

    .box::before {
        border-radius: 30% 50% 70% 60% / 50% 70% 40% 70%
    }

    .box::after { 
        content: none;
    }
    
    .curriculum {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 1201px) {
    main .area {
        flex-direction: column;
        align-items: center;
    }

    #sobre {
        text-align: center;
        font-size: 2.5rem !important;
    }

    .slider-container {
        width: 100vw;
        height: auto;
    }

    section {
        padding: 0 1.5rem;
    }

    .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 701px) {
    .timeline {
        flex-direction: column;
    }

    .bola-vermelha, .bola-amarela {
        display: none;
    }

    .timeline-ball-1 {
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(3px);
    }
    
    .timeline-ball-2 {
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .timeline::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 5px;
        background-color: #8D6E63;
        transform: translateY(-50%) rotate(90deg);
    }

    .area {
        flex-direction: column;
    }

    .bar {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1201px) {
    section {
        overflow: hidden;
    }
}